
// password page
.password-container{
  width: 100%;
  padding: 20px 10px;
  // max-width: 900px;
  margin: 0 auto;
  background: #000000da;
  color: #eee;
  position: relative;
  min-height: 90vh;
  .pass-inner-container{
    width: 95%;
    margin: 0 auto;
    max-width: 950px;
    h1,h2,h3{
      margin-bottom: 20px;
    }
  }
  
}


// platform design
.platform-container{
  box-sizing: border-box;
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 15px;
  background: linear-gradient(#18013156,#1c095ead);
  @media (max-width: 900px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px){
    grid-template-columns: repeat(1, 1fr);
  }
  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#09806c, #034203);
    padding-right: 10px;
    border-radius: 8px;
    a{
      padding: 10px 15px;
      display: block;
      width: 100%;
      color: #eee;
      font-weight: 600;
      font-size: 15px;
      text-decoration: none;
    }
    .platform-delete{
      cursor: pointer;
      font-weight: 900;
    }
    .platform-delete:hover{
      color: #ff002b;
    }
  }
 
}




// add platform
.platform{
  width: 100%;
  background: #000000ec;
  min-height: 100vh;
  z-index: 9;
  position: sticky;
  top: 0;
  left: 0;
  .add-platform-container{
    width: 95%;
    max-width: 800px;
    min-height: 50vh;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: #0b064983;
    padding: 30px 20px;
    form{
      margin-top: 20px;
      input{
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 8px 10px;
        outline: none;
        font-weight: 600;
        width: 100%;
      }
      input::placeholder{
        color: #cf3000e1;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13px;
      }
      
    }
    div {
      margin-top: 10px;
      button{
        border: 1px solid #1e1eff;
        padding: 10px 30px;
        color: #eee;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        border-radius: 10px;
        background: linear-gradient(#1360b8, #00275a);
        cursor: pointer;
      }
    }
    .close{
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0px 15px;
      font-size: 2em;
      border: none;
      background: #ce0404;
      cursor: pointer;
      color: #eee;
      font-weight: 900;
    }
  }
}

// show pass word design
.show-pass{
  margin-top: 30px;
  overflow-x: auto;
  position: relative;
  height: 70vh;
  table{
    thead{
      position: sticky;
      top: 0;
      background: #333;
      z-index: 3;
    }
    border-collapse: collapse;
    width: 100%;
    th, td{
      white-space: nowrap;
      padding: 7px 10px;
      border: 1px solid #ddd;
    }
    td{
      position: relative;
      font-size: 14px;
      input{
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
        font-size: 14px;
      }
    }
  }
  .tooltip{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-weight: 600;
    font-size: 10px;
    background: #c10000;
    color: #eee;
    padding: 15px 50px;
    text-align: center;
    z-index: 99;
  }

  .delete-password{
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid red;
    border-radius: 3px;
    transition: all .2s;
    text-transform: uppercase;
  }
  .delete-password:hover{
    background: linear-gradient(darkorange, red);
  }

}

// show and hide pass
.check{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  #check{
    display: none;
  }
  label{
    display: inline-block;
    // margin-bottom: 15px;
    position: relative;
    font-size: 13px;
    cursor: pointer;
  }
  label::after{
    content: '\2610';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;

  }
  #check:checked + label::after{
    content: '\2611';
    color: green;
  }
  a{
    text-decoration: none;
    color: #eee;
    font-size: 13px;
    font-weight: 600;
  }
}

// add new password form design
.add-new-pass-modal{
  width: 100%;
  min-height: 100vh;
  background: #000000ec;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9;
  .form{
    width: 92%;
    max-width: 700px;
    height: 100%;
    .form-field{
      margin-bottom: 15px;
      span{
        display: block;
        color: #eee;
        font-size: 13px;
        margin-bottom: 5px;
      }
      input{
        width: 100%;
        outline: none;
        border: none;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 600;
        color: #034203;
      }
      input::placeholder{
        color: #8b2006de;
        font-weight: 600;
        opacity: 0.7;
      }
    }
    .form-field.check{
      display: flex;
      align-items: center;
      .saved-pass-reset{
        border: none;
        color: #222;
        background: #eee;
        font-weight: 900;
        padding: 5px 12px;
        cursor: pointer;
        border-radius: 4px;
        display: inline-block;
        margin-left: 5px;
      }
      label{
        margin-right: 10px;
        position: relative;
      }
      label::after{
        content: '\2610';
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
      }
      #same:checked + label::after{
        content: '\2611';
        color: yellow;
      }
      #same{
        display: none;
      }
    }
  }
}

// common design
.guide{
  font-size: 12px;
  display: block;
  font-weight: 400;
  // padding: 10px 0;
}
.add-pass-btn{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  button{
    border: none;
    padding: 10px 40px;
    background: linear-gradient(#cf2001, #991902);
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
  }
}

