.error{
  padding-top: 100px;
  .errAnimation{
    text-align: center;
    span{
      display: inline-block;
      font-size: 6em;
      font-weight: 900;
      color: #360404;
      animation: textA 1s ease-in-out infinite forwards alternate;
    }
    span:nth-child(2){
      animation-delay: .5s;
    }
    @keyframes textA {
      0%{
        transform: translateY(-10px);
      }
      100%{
        transform: translateY(10px);
      }
    }
  }

  h2{
    text-align: center;
    color: darkred;
  }

  .return-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a{
      text-decoration: none;
      display: inline-block;
      padding: 10px 30px;
      background: linear-gradient(red, darkred);
      border-radius: 8px;
      color: #eee;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
    }
    a:hover{
      background: linear-gradient(#ff0077, #8b003a);
    }
  }
}