@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}
body{
  background: url(https://i.postimg.cc/htn7mBQ1/bg.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
}